<html>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/main.css">
<body>

<div class="shop">
    <div class="rad item">
        <div class="name">Séjour à Madrid : 3 jours à partir de 96€, hébergement et vol A/R inclus</div>
        <div class="pic"><img class="pic" src="https://thumb2.holidaypirates.com/f4v2WQ_WNvggaJfzubfPPHQ4-xI=/657x300/https://media.mv.urlaubspiraten.de/images/2016/12/5845b9768baed375844047c295e2j4.jpg" alt=""></div>
        <div class="butt"></div>
    </div>
<div class="rad item">
    <div class="name">Séjour à Madrid : 3 jours à partir de 96€, hébergement et vol A/R inclus</div>
    <div class="pic"><img class="pic" src="https://thumb2.holidaypirates.com/f4v2WQ_WNvggaJfzubfPPHQ4-xI=/657x300/https://media.mv.urlaubspiraten.de/images/2016/12/5845b9768baed375844047c295e2j4.jpg" alt=""></div>
    <div class="butt"></div>
</div>
    <div class="rad item">
        <div class="name">Séjour à Madrid : 3 jours à partir de 96€, hébergement et vol A/R inclus</div>
        <div class="pic"><img class="pic" src="https://thumb2.holidaypirates.com/f4v2WQ_WNvggaJfzubfPPHQ4-xI=/657x300/https://media.mv.urlaubspiraten.de/images/2016/12/5845b9768baed375844047c295e2j4.jpg" alt=""></div>
        <div class="butt"></div>
    </div>
</div>
</body>
</html>
